body {
    font-family: Verdana, sans-serif;
    background-image: url("../images/bg.png"); /* coloca imagem no fundo */
}

#container { /* é o bloco onde está todo o conteudo */
    width: 70%;
    margin: 10px auto;
    background-color: #F3EBF6;
}

h1 { /* edita o titulo Hotel Aurora */
    text-align: center;
    color: white;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 180%;
    text-shadow: black 0.1em 0.1em 0.2em; /* deixa o texto com uma sombra preta */
}

h2 {
    text-align: center;
}

#header { /* coloca a imagem da praia no cabeçalho */
    background-image: url("../images/header.jpg");
    background-size: cover;
    padding: 2%;
}

#mainnav { /* edita o menu de navegação */
    background-color: #014040;
    height: 40px;
    font-weight: 600;
}

#mainnav a { /* edita os links do menu de navegação */
    padding: 10px;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}

#mainnav a:hover { /* edita os links do menu de navegação quando passa o mouse por cima */
    background-color: #011C26;
    color: white;
}


#form { /* define posicao, cor, tamanho, bordas e sombra do formulario de login */
    float: initial;
    background-color: #FFFFFF;
    width: 600px;
    height: auto;
    margin: 16% auto;
    margin-top: 5%;
    padding: 1%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#formconheceu {/* edita */
    font-weight: 400;
}

input { /* edita os input do formulario */
    width: 100%;
    padding: 12px 20px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] { /*  edita o botao "Enviar" */
    width: 100%;
    background-color: #014040;
    color: white;
    padding: 14px 20px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover { /* muda a cor do botao "Enviar" quando passa o mouse */
    background-color: #011C26;
}

#footer { /* edita o rodapé */
    background-color: #014040;
    padding: 1px;
    color: white;
    text-align: center;
}

label[type=checkbox] {
    font-size: 14px;
    display: flex;
    width: 400px;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

span{
  padding-left: 2%;
  font-size: 12px;
  color: red;
}
