* {
  box-sizing: border-box;
}

.back-photo {
  background: url('background.jpg');
  background-color: #F2F2F2;
  background-repeat: repeat-y;
  background-size: cover;
}

.form-panel {
  margin: 0 auto;
  width: 40%;
  margin-top: 50px;
}

body {
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

.input-control {
  background-color: #eaeaea;
  color: #000000;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  display: block;
  width: 100%;
}

.button {
  background-color: #2A4B7C;
  color: #ffffff;
  text-align: center;
  border: 0;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.button-excluir {
  background-color: #2A4B7C;
  color: #ffffff;
  text-align: center;
  width: 50%;
  cursor: pointer;
}
.button-register {
  width: 100%;
  cursor: pointer;
  border-radius: 3%
}
.button-lista {
  background-color: #086A87;
  width: 100%;
  cursor: pointer;
  border-radius: 3%
}

.button-novo {
  background-color: #086A87;
  width: 52%;
  position: absolute;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 3%
}

table {
  border-collapse: collapse;
  width: 50em;
  border: 1px solid #666;
}
thead {
  background: #ccc url(https://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
